<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Manager</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
     <div class="welcome">
         <div class="wd50">
             <img src="./logo.png" class="logo" alt="union bank logo">
             <img src="./Union Bank Mobile.png" alt="union logo Mobile" class="mob-logo">
         </div>
         <div class="wd50">
             <div class="account">
                 <h3 class="cus-blue fs18">APPOINTMENT MANAGER</h3>
                 <p class="cus-blue fs14">Account Number</p>
                 <input type="number" class="acc-input" placeholder="Enter Your Account Number">
                 <button class="accBtn">CONTINUE</button>
             </div>
         </div>
     </div>
    </div>
</body>
</html>