@{
    ViewData["Title"] = "Appointment Manager";
}

<div class="container">
     <div class="welcome">
         <div class="wd50">
             <img src="logo.png" class="logo" alt="union bank logo" />
             <img src="UnionBankMobile.png" class="mob-logo" alt="union logo Mobile"/>
         </div>
         <div class="wd50">
             <div class="account">
                 <form method="POST" asp-controller = "Home" asp-action="GetUserInput">

                     <h3 class="cus-blue fs18">APPOINTMENT MANAGER</h3>
                    <p class="cus-blue fs14">Account Number</p>
                    <input type="number" class="acc-input" placeholder="Enter Your Account Number">
                    <input type = "submit" class="btn btn-primary" value ="CONTINUE" /> 
                 </form>
                 
             </div>
         </div>
     </div>
    </div>
