@{
    ViewData["Title"] = "Appointment Manager";
}

    <div class="container">
     <div class="welcome">
         <div class="wd50">
             <img src="./logo.png" class="logo" alt="union bank logo">
             <img src="./Union Bank Mobile.png" alt="union logo Mobile" class="mob-logo">
         </div>
         <div class="wd50">
             <div class="account">
                 <h3 class="cus-blue fs18">APPOINTMENT MANAGER</h3>

                 <p class="cus-blue fs14">Please enter OTP to verify Account</p>
                 <input type="number" class="verify-input" >
                 <button class="accBtn">VERIFY</button>
                 <p class="fs14">Resend OTP</p>
                 
             </div>
         </div>
     </div>
    </div>
